/* ==UserStyle==
@name           Gmail Be Pretty
@namespace      github.com/TheCubiq/CssGmail
@version        1.0.0
@description    Basically, Better gmail
@author         Cubiq
==/UserStyle== */
@-moz-document domain("mail.google.com") {

	/* 	remove mail/meet panel */
	.aeN.WR.BaIAZe.a6o.anZ.nH.oy8Mbf {
		display: none;
	}

	/*  left menu hamburger bg */
	.WR.aeN,
	.a6o::before {
		background: none !important;
	}

	/* 	Compose button */
	.T-I.T-I-KE.L3 {
		margin-left: 14px;
		border-radius: 100px;
	}

	/* 	search in mail */
	header[role="banner"] > div:nth-child(2) > div:nth-child(2) {
		opacity: 0;
		transform: translateY(-12px);
		transition: 0.2s all;
	}

	/* 	search in mail hover */
	header[role="banner"]> div:nth-child(2) > div:nth-child(2):hover {
		opacity: 1;
		transform: translateY(0);
	}

	/* 	main email panel */
	.zA.y0,
	.zA {
		padding: 12px 0 !important;
		/* 		background: white; */
		transition: all 0.3s ease;
	}

	/* hovered email	 */
	.zA.y0:hover,
	.zA:hover,
	.zA.zE:hover {
		box-shadow: inset 0 -1px 0 0 rgb(104, 104, 104);
		/* 		background: hsl(212, 12%, 98%); */
		filter: drop-shadow(0 0 10px #ffffff21);
	}


	/* selected message */
	.zA.y0.x7,
	.zA.zE.x7 {
		background: #ffd8fe6b !important;
	}

	/* hide the gmail logo text */
	a[aria-label="Gmail"] {
		clip-path: inset(0 4.5rem 0 0.9rem);
		transition: all 0.2s 0.2s ease;
	}

	/* 	show gmail logo text on hover */
	a[aria-label="Gmail"]:hover {
		clip-path: inset(0);
	}


	/* 	bottom info */
	[role="contentinfo"] {
		opacity: 0;
		transform: translateY(12px);
		transition: 0.2s all;
	}
	/*  bottom info hover */
	[role="contentinfo"]:hover {
		opacity: 1;
		transform: translateY(0);
	}


	/*****************/
	/* 	folding tabs */
	/* 	 disable text highlight on category button click */
	.Wr {
		user-select: none;
	}

	/* 	fold icon */
	.qi.Wp {
		/* 		background-image: url(https://www.gstatic.com/images/icons/material/system_gm/2x/keyboard_arrow_down_black_20dp.png); */
		background-image: url(https://www.gstatic.com/images/icons/material/system_gm/1x/keyboard_arrow_down_white_20dp.png);
		transition: 0.3s all;
		transform: rotate(-90deg);
	}


	/* expanded fold icon */
	.Wq,
	.Wq-A8 {
		transform: scaleX(-1) !important;
	}


	/* animations */
	@keyframes append-animate {
		from {
			opacity: 0;
			transform: translateY(12px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes append-opacity {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes append-withSize {
		from {
			max-height: 0;
			opacity: 0;
		}
		to {
			max-height: 45px;
			opacity: 1;
		}
	}

	@keyframes append-width {
		from {
			transform: translateX(-12px);
			opacity: 0;
		}
		to {

			transform: translateX(0);
			opacity: 1;
		}
	}


	/* 	emails popup animation  */
	.Cp > div,
	.zw {
		animation: append-animate 0.4s ease;
	}

	/* message info (numbers on the right side)	 */
	.Di > .amH {
		animation: append-opacity 0.4s ease;
	}

	/* hide the text in folded state */
	.Wr > .Wn {
		opacity: 0;
		min-width: 0px;
		max-width: 0px;
		transition: 0.4s 0.2s all ease;
	}

	/* 	unfolded state text */
	.Wr[aria-expanded=true] > .Wn,
	.Wr:not([aria-expanded]) > .Wn {
		opacity: 1;
		max-width: 120px;
	}



	/* move fold icon to center */
	.Wr:not([aria-expanded=true]) > .Wp {
		margin-left: 0;
	}

	/*  right panel */
	.nH.aUx {
		width: 16px !important;
	}

	/*  hide right panel */
	.bAw.it > * {
		display: none;
	}

	/* 	fade in email */
	.nH[role="main"] > div {
		animation: append-opacity 1s ease;
	}

	/* no unread messages */
	.aVj {
		animation: append-withSize 0.4s ease;
	}

	/* 	remove 1px shadow for no reason */
	.Wg {
		box-shadow: none;
	}

	.qd {
		border-bottom: none;
	}

	.wT > div:nth-child(3) > .n3 > .byl > .TK,
	.byl.aJZ.a0L > .TK > .aim:not(:nth-child(1)){
		animation: append-width .4s ease;
	}

	.CJ {
		display: none;
	}

	.n6 > ::after,
	.n6 > ::before {
		transition: all 0.4s ease;
	}

	.n6 > ::after {
		content: 'More';
		left: 4rem;
		position: absolute;
	}

	.n6 > .air::after {
		left: 6rem;
		opacity: 0;
	}

	.n6 > ::before {
		content: 'Less';
		left: 2rem;
		position: absolute;
		opacity: 0;
	}

	.n6 > .air::before {
		left: 4rem;
		opacity: 1;
	}

	.n6 .n4 .G-asx {
		mask: url(https://www.gstatic.com/images/icons/material/system_gm/1x/expand_more_black_20dp.png) center/contain !important;
		-webkit-mask: url(https://www.gstatic.com/images/icons/material/system_gm/1x/expand_more_black_20dp.png) center/contain !important;
		transition: transform 0.3s;
		transform: rotate(-90deg);
	}

	.n6 .air .G-asx {
		transform: scaleX(-1);
	}

	/****************************/
	/* 	animated menu hamburger */
	/****************************/
	
	[aria-label="Main menu"] > svg > path {
		display: none;
	}

	[aria-label="Main menu"] > svg,
	[aria-label="Main menu"]::before,
	[aria-label="Main menu"]::after {
		background: #c0c0c0;
		content: '';
		display: block;
		height: 2px;
		position: absolute;
		transition: background ease .2s, top ease .2s .2s, transform ease .2s;
		width: 18px;
	}

	[aria-label="Main menu"] > svg {
		left: 25px;
		top: 31px;
	}

	[aria-label="Main menu"]::before {
		left: 25px;
		top: 26px;
	}

	[aria-label="Main menu"]::after {
		left: 25px;
		top: 36px;
	}

	[aria-label="Main menu"][aria-expanded="true"] > svg {
		background: transparent;
	}

	[aria-label="Main menu"][aria-expanded="true"]::before {
		transform: rotate(45deg);
	}

	[aria-label="Main menu"][aria-expanded="true"]::after {
		transform: rotate(-45deg);
	}

	[aria-label="Main menu"][aria-expanded="true"]::before,
	[aria-label="Main menu"][aria-expanded="true"]::after {
		top: 31px;
		transition: top ease .2s, transform ease .2s .2s;
	}
	
	/* 	remove running out of storage warning */
	.GR[aria-label="Inbox tip"] {
		display: none;
	}
}